@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875/1.4 var(--font-family);

  --text-primary: #292524;
  --text-secondary: #57564e;
  --text-tertiary: #8f8881;
  --text-highlith: #e43a12;

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;

  --semantic-error: #dc2626;
}
